<launch>
    <include file="$(find multi_launch)/launch/gemini2L.launch">
        <arg name="camera_name" value="camera_01"/>
        <arg name="usb_port" value="4-1"/>
        <arg name="device_num" value="3"/>
    </include>

    <include file="$(find multi_launch)/launch/gemini2.launch">
        <arg name="camera_name" value="camera_02"/>
        <arg name="usb_port" value="4-2"/>
        <arg name="device_num" value="3"/>
    </include>
</launch>